/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 25.01.2010
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <div><ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <div><ul><li><a href="#"><span>level 3</span></a></li></ul></div>
 *                  </li>
 *              </ul></div>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
#menu {
    position:relative;
    z-index:100;
	float:left;
    height:36px;
}
#menu .menu {
    /*position:absolute;
    padding-left: 40px;
    background: url(/images/header.gif) right top no-repeat; */
}
#menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu a {
    display:block;
    padding:0 15px;
    white-space:nowrap;
}
#menu li {
    float:left;
}
#menu li li {
    float:none;
}
#menu div {
    visibility:hidden;
    position:absolute;
    background:url(/images/pix.gif);
}
#menu div div {
    margin:-35px 0 0 -1px;
    left:100%;
}
#menu div div div {
    margin:-35px 0 0 -1px;
    left:100%;
}
#menu li:hover>div { visibility:visible; }

/* menu::special styles */
/* menu::level 1 */
#menu a {
    text-decoration:none;
    color:#fff;/*1*/
    position:relative;
    z-index:77;
	font-size:13px;
	line-height:36px;
	background:url(/images/bulletNav.png) no-repeat center right;
}
#menu a:hover {
/*    background:url(/images/header.gif) left -43px repeat-x;*/
	text-decoration:none;
	color:#e3f5ff;
}
#menu a:hover span { color:#FFF; }
#menu li.current a {
   /* background: transparent url(/images/header_active.gif) repeat-x;*/
    color:#fff;
}
#menu li.current span {
    color:#fff;
}
#menu>ul>li:hover>a {
	background:url(/images/bulletNav.png) no-repeat center right;
    color:#e3f5ff;
}
#menu>ul>li:hover>a span { color:#FFF; }
#menu span {
    text-transform:uppercase;
    font:9px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    letter-spacing:0.3em;
    text-decoration:none;
    color:#333;
}
#menu li { background: url(/images/header.gif) left top no-repeat;}
/* menu::level >= 2 */
#menu ul ul {width:180px; border:none; border-bottom:1px solid #2E91CC;}
#menu li li{
	  background:#AAC9FF;
	  }
#menu li li a {
    position:static;
    background:#AAC9FF;
    white-space:normal;
    text-align: left;
    color:#ffffff;
    padding:0;
	text-transform:none;
	width: 100%;
	border-top:1px solid #2E91CC;
	border-bottom:1px solid transparent;
	border-left:none;
	border-right:none;
	
}
#menu li.current li a {
    background: none;
    color:#FFF;
}
#menu li.current li span {
    color:#FFF;
}
#menu li li a:hover { background:#2e91cc; border-bottom:1px solid #ffffff; border-top:1px solid #ffffff; }
#menu li li a span { color:#032031; line-height: 15px; padding: 7px 10px; font-size:12px; }
#menu li li a:hover span { color:#fff;}
#menu li li a.parent span{background:transparent url(/images/arrow.gif) no-repeat scroll right 50%; z-index:10;  }

#menu li li span {
    display:block;
    text-transform:none;
    padding:0px 25px 0px 0px;
    font-size:11px;
    letter-spacing: 0;
}