
<!-- <div class="width50"> -->
<!--   <div class="form-group">
    <label class="col-sm-5 control-label">Start Date:</label>

    <div class="col-sm-7">
      <input type="text" id="TextInput" class="form-control width50" placeholder="MM/DD/YYYY" value="{{ dates.startDate }}" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">End Date:</label>

    <div class="col-sm-7">
      <input type="text" id="TextInput" class="form-control width50" placeholder="MM/DD/YYYY" value="{{ dates.endDate }}"/>
    </div>
  </div>
   -->
<label class="control-label">Date Range:&nbsp;</label>
<input type="text" id="dateRange" class="form-control" style="text-align: center;" placeholder="mm/dd/yyyy" daterangepicker (selected)="selectedDate($event)" />
   
<!-- </div> -->
<!-- <button type="button" class="btn btn-dt2 btn-sm" (click)="doRange('One Week')">1 Week</button>  -->
<!-- <button type="button" class="btn btn-dt2 btn-sm" (click)="doRange('Two Weeks')">2 Week</button>  -->
<!-- <button type="button" class="btn btn-dt2 btn-sm" (click)="doRange('This FY')">Current FY</button> -->
<!-- <button type="button" class="btn btn-dt2 btn-sm" (click)="doRange('Last FY')">Previous FY</button> -->


<!--  <input type="text" name="daterangeInput" daterangepicker [options]="options" (selected)="selectedDate($event)" />
 
<br><br><br>

<button type="button" (click)="updateDateRange()">First to 12th July</button>

-->